<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script type="text/javascript">
  $('document').ready(() => $('select').material_select())
</script>

<body>
  <div class="content container">
    <div class="page-header">
      <h1>myapps</h1>
    </div>
    <div class="content container">
      {% block content %}
      {% endblock %}
    </div>
  </div>
</body>
