# node app node modules
*node_modules
*notepad
*.ipynb_checkpoints*
*.pyc
events.out.tfevents*
*DS_Store
python/mp3/sqlalchemy_tutorial.py
python/mp3/database.db
python/mp3/songs/*
python/mp3/test.db
python/mp3/old_database.db
python/mp3/.media.db
python/mp3/test.py
