{% extends 'base.html' %}

{% block base_content %}
<body>
    <nav>
      <div class="nav-wrapper teal">
        <a href="{% url 'finances:index' %}" class="brand-logo">Finances</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="{% url 'finances:view' %}">view all</a></li>
          <li><a href="{% url 'finances:insert' %}">Insert</a></li>
        </ul>
      </div>
    </nav>
    <h1>TODO: make model include user ForeignKey and only have that user's transactions show up</h1>
    <div class="content container">
      {% block content %} {% endblock %}
    </div>
</body>
{% endblock %}
