{% extends 'finances/base.html' %}
{% block content %}
<title>View a Transaction</title>
<table class="responsive-table highlight">
  <thead>
    <tr>
      <th>Description</th>
      <th>Amount</th>
      <th>Type</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ transaction.description }}</td>
      <td>{{ transaction.amount }}</td>
      <td>{{ transaction.type }}</td>
      <td>{{ transaction.date }}</td>
    </tr>
  </tbody>
</table>
{% endblock %}
