{% extends 'finances/base.html' %}
{% block content %}
<title>View Transactions</title>
<table class="responsive-table highlight card-panel">
  <thead>
    <tr>
      <th>Description</th>
      <th>Amount</th>
      <th>Type</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    {% for transaction in transactions %}
    <tr onclick="window.location='{% url 'finances:view_transaction' transaction.id %}';">
      <td>{{ transaction.description }}</td>
      <td>{{ transaction.amount }}</td>
      <td>{{ transaction.type }}</td>
      <td>{{ transaction.date }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
